
body{
    padding:0;
    margin:0;
}
#container{
    
    max-width: 960px;
    display:flex;
    flex-direction:column;
    
}
.lineDiv{
    display:flex;
    width:100vw;
}
.square{
    aspect-ratio: 1/1;
    width:10vw;
    background-color:black;
    box-sizing: border-box;
    box-shadow: 0 0 1px white; 
}

#header{
    display:flex;
    justify-content: center;
}
